<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

    <!-- Welcome files and error pages. -->
    <welcome-file-list>
        <welcome-file>library.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Servlets. -->
    <servlet>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern> <!-- Explicit registration on *.xhtml disables implicit registration of *.jsf, *.faces and /faces/*. -->
    </servlet-mapping>

    <!-- Resources -->
    <data-source>
        <name>java:app/MyEEApp/MyDS</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>3306</port-number>
        <database-name>myeedb</database-name>
        <user>root</user>
        <password>1234</password>
        <!--MySQL 8.0 specific properties-->
        <property>
            <name>serverTimezone</name>
            <value>UTC</value>
        </property>
        <property>
            <name>useSSL</name>
            <value>false</value>
        </property>
        <property>
            <name>characterEncoding</name>
            <value>UTF8</value>
        </property>
        <property>
            <name>allowPublicKeyRetrieval</name>
            <value>true</value>
        </property>
    </data-source>

    <data-source>
        <name>java:app/MyEEApp/MyDS2</name>
        <class-name>com.microsoft.sqlserver.jdbc.SQLServerXADataSource</class-name>
        <server-name>localhost/SQLEXPRESS</server-name>
        <port-number>1434</port-number>
        <database-name>myeedb</database-name>
        <user>sa</user>
        <password>1234</password>
        <!--SQL Server specific properties-->
        <!--<property>-->
            <!--<name>serverTimezone</name>-->
            <!--<value>UTC</value>-->
        <!--</property>-->
        <!--<property>-->
            <!--<name>useSSL</name>-->
            <!--<value>false</value>-->
        <!--</property>-->
        <!--<property>-->
            <!--<name>characterEncoding</name>-->
            <!--<value>UTF8</value>-->
        <!--</property>-->
        <!--<property>-->
            <!--<name>allowPublicKeyRetrieval</name>-->
            <!--<value>true</value>-->
        <!--</property>-->
    </data-source>

</web-app>